@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", "Helvetica";
  color: black;
}

body {
  background-color: #fcfcfc;
}

.menu {
  color: #0e00e0;
  padding: 1rem;
  width: 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  &__header {
    margin-top: 1rem;
    display: flex;
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 20px;
  }
  &__div {
    text-shadow: 4px 0px 4px #d4c8fe;
  }
  &__ul {
    list-style-type: none;
  }
  &__li {
    display: flex;
    flex-direction: row;
    height: 3rem;
    margin-top: 1rem;
    border-radius: 0.375rem;
    width: 100%;
    align-items: center;
    transition: 0.5s;
    text-decoration: none;
    &:first-child {
      padding-left: 8px;
    }
    &:hover {
      box-shadow: 0px 10px 10px rgba($color: #000000, $alpha: 0.4);
    }
  }
  &__item {
    margin-left: 10px;
  }
  &__subscribe {
    background-color: #e9e3fe;
    margin-top: 3rem;
    height: auto;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    &__img {
      height: 175px;
      width: 175px;
      margin: -20% auto;
    }
    &__header {
      margin-top: 20%;
      font-weight: 500;
      font-size: 1.2rem;
    }
    &__text {
      margin-top: 0.5rem;
      font-weight: 300;
      font-size: 0.9rem;
    }
  }
  &__button {
    margin-top: 1rem;
    padding: 0.5rem;
    font-weight: 500;
    color: white;
    background-color: #8a70d6;
    border-radius: 0.5rem;
    border: none;
    transition: 1.5s;
    &:hover {
      transform: scale(1.05);
    }
  }
}

.pages {
  display: flex;
  flex-direction: row;
}

.navlink {
  padding: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  &__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    input {
      background-color: #fafafa;
      height: 2rem;
      border-radius: 0.5rem;
      border: 1px solid white;
      box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.2);
      outline: none;
      padding-left: 1rem;
      transition: 0.5s;
      width: 15rem;
      &:focus {
        box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.5);
      }
    }
    button {
      background-color: #fafafa;
      height: 2rem;
      width: 2rem;
      border-radius: 0.5rem;
      border: 1px solid white;
      box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.2);
      outline: none;
      margin-left: 1rem;
      transition: 0.5s;
      &:hover {
        box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.5);
      }
    }
  }
}

.dashboard {
  width: 50%;
}

.courseCarousel {
  padding: 1rem;
  &__header {
    margin-bottom: 2rem;
    margin-top: 1.5rem;
  }
  &__carousel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__item {
    padding: 0.5rem;
    width: 32%;
    background: none;
    border: none;
    border-radius: 0.5rem;
    height: auto;
    background: red;
    transition: 0.5s;
    &:hover {
      box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.4);
    }
  }
  &__img {
    width: 100%;
    height: 200px;
  }
  &__name {
    margin-top: 0.5rem;
    text-align: left;
    font-size: 15px;
    font-weight: 700;
  }
  &__numberClasses {
    margin-top: 0.375rem;
    text-align: left;
  }
}

.red,
.blue,
.orange {
  border-radius: 0.5rem;
  padding: 0.25rem;
}

.red {
  background-color: #fcab5e;
}

.blue {
  background-color: #8a70d6;
}

.orange {
  background-color: #579be4;
}

#item1 {
  background-color: #ffdcb9;
}

#item2 {
  background-color: #d4c8fe;
}

#item3 {
  background-color: #d3ebfe;
}

.course {
  margin-top: 3rem;
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1rem;
    a {
      color: rgb(0, 0, 0, 0.6);
      transition: 0.5s;
      text-decoration: none;
      &:hover {
        color: black;
      }
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 2fr;
  }
}

.courseItem {
  margin-top: 1rem;
  grid-column: 1/9;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 2fr;
  align-items: center;
  background-color: #f5f5f5;
  border: none;
  padding: 0.75rem;
  border-radius: 0.5rem;
  transition: 0.5s;
  &__name {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__row {
    margin-left: 0.5rem;
  }
  & > * {
    text-align: left;
  }
  &:hover {
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.4);
  }
}

.profile {
  width: 30%;
  padding: 1rem;
  &__head {
    padding-top: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__btn {
    background-color: #fafafa;
    height: 2rem;
    width: 2rem;
    border-radius: 0.5rem;
    border: 1px solid white;
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.2);
    outline: none;
    margin-left: 1rem;
    transition: 0.5s;
    &:hover {
      box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.5);
    }
  }
  &__img {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    align-items: center;
    img {
      border-radius: 50%;
      width: 125px;
      height: 125px;
    }
  }
  &__name {
    font-size: 20px;
    font-weight: 700;
    margin-top: 0.5rem;
  }
  &__status {
    margin-top: 0.3rem;
    font-weight: 300;
    font-size: 15px;
  }
}

circle{
  fill:none;
  stroke:url(#GradientColor);
  stroke-width: 20px;
}
